---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/fead8af7d77e42793dbf5a3fccfaf847/40.7127,-74.0059,1539482400?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 1ms
      X-Forecast-Api-Calls:
      - '44'
      X-Response-Time:
      - 37.442ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":40.7127,"longitude":-74.0059,"timezone":"America/New_York","currently":{"time":1539482400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":54.46,"apparentTemperature":54.46,"dewPoint":40.28,"humidity":0.59,"pressure":1018.09,"windSpeed":6.34,"windGust":12.31,"windBearing":307,"cloudCover":0.05,"uvIndex":0,"visibility":10,"ozone":286.52},"hourly":{"summary":"Mostly
        cloudy starting overnight, continuing until evening.","icon":"partly-cloudy-day","data":[{"time":1539403200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":50.88,"apparentTemperature":50.88,"dewPoint":39.99,"humidity":0.66,"pressure":1008.79,"windSpeed":3.8,"windGust":4.28,"windBearing":329,"cloudCover":0.06,"uvIndex":0,"visibility":10,"ozone":269.06},{"time":1539406800,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.002,"precipProbability":0.03,"precipType":"rain","temperature":51.04,"apparentTemperature":51.04,"dewPoint":39.91,"humidity":0.66,"pressure":1008.57,"windSpeed":4.07,"windGust":4.51,"windBearing":320,"cloudCover":0.25,"uvIndex":0,"visibility":10,"ozone":269.2},{"time":1539410400,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.002,"precipProbability":0.03,"precipType":"rain","temperature":51.46,"apparentTemperature":51.46,"dewPoint":39.9,"humidity":0.65,"pressure":1008.7,"windSpeed":4.5,"windGust":5.87,[...]
