---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/fead8af7d77e42793dbf5a3fccfaf847/40.7127,-74.0059,1539487031?units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 2ms
      X-Forecast-Api-Calls:
      - '11'
      X-Response-Time:
      - 38.973ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":40.7127,"longitude":-74.0059,"timezone":"America/New_York","currently":{"time":1539487031,"summary":"Clear","icon":"clear-night","precipIntensity":0.0002,"precipProbability":0.01,"precipType":"rain","temperature":53.87,"apparentTemperature":53.87,"dewPoint":40.46,"humidity":0.6,"pressure":1018.66,"windSpeed":5.79,"windGust":10.59,"windBearing":304,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":285.89},"hourly":{"summary":"Light
        rain in the morning.","icon":"rain","data":[{"time":1539403200,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0011,"precipProbability":0.02,"precipType":"rain","temperature":52,"apparentTemperature":52,"dewPoint":40.24,"humidity":0.64,"pressure":1009.17,"windSpeed":5.71,"windGust":6.83,"windBearing":340,"cloudCover":0.45,"uvIndex":0,"visibility":10,"ozone":269.06},{"time":1539406800,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0009,"precipProbability":0.02,"precipT[...]
